.staff {
  width: 250px;
  height: 250px;
  background-color: var(--background-component-color);
  border-radius: 20px;
  margin-right: 20px;
  margin-left: 20px;

  margin-bottom: 20px;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19);
}

#name {
  color: var(--main-title-contrast-color);
}

img {
  vertical-align: middle;
}

p {
  margin: 5px;
  width: 240px;
  font-size: 13px;
  text-align: justify;
}

#icon {
  width: 70px;
  height: 70px;
  margin: 5px;
  border-radius: 600px;
}


@media screen and(max-width: 550px) {
  .staff {
    margin-bottom: 60px;
    margin-right: 0px;
    margin-left: 0px;
  }

  #impair {
    transform: rotate(10deg)
  }

  #pair {
    transform: rotate(-10deg)
  }
}
