.staff {
  width: 250px;
  height: 250px;
  background-color: gray;
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

#icon {
  width: 70px;
  height: 70px;

  margin: 5px;

  float: left;

  border-radius: 600px;
}
