<div class="informations">
  <h2 id="top">
    <img src="assets/images/profilBot.jpg" alt="bot">
    Voici le Bot de DevArea ! Il apporte de nouvelles fonctionnalités au serveur.
  </h2>

  <p>Vous pouvez utiliser toutes les commandes ci-dessous:
    <br>
    <strong>//help</strong> -> renvoie la liste des commandes disponibles.<br>
    <strong>//ping</strong> -> renvoie la latence du bot en milli-secondes.<br>
    <strong>//meetup</strong> -> permet de mettre en place des conférences/regroupements vocaux autour d'un sujet.<br>
    <strong>//start</strong> -> renvoie les prérequis nécessaires pour débuter dans les langages disponibles.<br>
    <strong>//rank</strong> -> affiche votre rang et votre xp sur le serveur.<br>
    <strong>//leaderboard</strong> -> affiche la liste des 5 membres ayant le plus d'xp du serveur.<br>
    <strong>//devhelp</strong> -> permet de mentionner les développeurs possédants le rôle <i>Dev'Helper</i> dans le
    channel, utile si personne n'a répondu à votre demande<br>
    <strong>//ask</strong> -> affiche les informations nécessaires pour poser une question efficacement.<br>
    <strong>//mission</strong> -> permet de gérer vos propositions de missions.<br>
    <br>
    <strong>creationMission</strong> -> permet de créer une mission dans le channel <i>missions-payantes</i>, /!\:
    uniquement dans ce channel.
    <br><br>
    Toutes les commandes commencants par "//" doivent être utilisées dans les salons du <a href="discord.devarea.fr">serveur</a>
    !
  </p>
</div>
