* {
    transition: none;
}

#container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    //background-image: url("/assets/images/fond1.jpg");
    background-color: var(--background-component-color);
    background-size: 1000px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 15px;
    padding-bottom: 5px;
    user-select: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19);
}

span h2 {
    color: var(--main-title-contrast-color);
}

img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    visibility: visible;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19);
}

#data_member {
    display: flex;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.not_connected #container {
    width: 250px;
}

#pseudo {
    width: 100%;
    line-height: 70px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-size: 28px;
}

.not_connected #pseudo {
    font-size: 22px;
}

.connected .options {
    line-height: 40px;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: font-size 250ms;
}

.connected .options:hover {
    font-size: 27px;
    transition: font-size 250ms;
}

.not_connected .options {
    line-height: 40px;
    font-size: 23px;
    text-align: center;
    cursor: no-drop;
    color: var(--unclickable-color);
    pointer-events: none;
}

.not_connected .options_disco {
    line-height: 40px;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: font-size 250ms;
}

.not_connected .options_disco:hover {
    font-size: 27px;
    transition: font-size 250ms;
}

.connected #connect {
    display: none;
}

.not_connected #disconnect {
    display: none;
}

#top {
    display: none;
}

@media screen and (max-width: 1050px) {
    #container {
        z-index: 1;
        display: flex;
        flex-direction: column;
        background-color: var(--background-component-color);
        background-size: 1000px;
        position: fixed;
        top: auto;
        bottom: 0;
        right: 0;
        margin-bottom: 5px;
        margin-right: 5px;
        border-radius: 15px;
        padding-bottom: 5px;
        user-select: none;
    }
    #bottom {
        display: none;
    }
    #top {
        display: block;
    }
    #disconnect {
        margin-top: 10px;
    }
}