.info{
  background-color: var(--background-component-color);
  width:203px;
  border-radius: 10px;
  float: left;
  display: block;
  margin-left: 10px;
}
h2,h3,p{
  text-align: center;
}
h2{
  padding-top: 20px;

}
hr{
  background-color: var(--main-text-color);
  width: 90%;

  border: none;
  height:2px;
  margin-right: auto;
  margin-left: auto;

}
@media screen and(max-width: 550px){
  .info{

    width: 95%;
    margin-left: auto;
    margin-right: auto;
    float: none;

  }

}
