:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#main_content {
    flex: 1;
}

#main_switcher {
    position: absolute;
    padding-top: 10px;
    padding-left: 20px;
    float: left;
}

@media screen and(max-width: 720px) {
    #main_switcher {
        display: none;
        padding-top: 0;
        padding-left: 0;
        float: left;
    }
    #dist_top {
        min-height: 70px;
    }
}