.informations {
  background-color: var(--background-component-color); //#606060
  display: block;
  height: auto;
  max-width: 80%;
  width: auto;
  margin-top: 20px;
  margin-left: max(250px, 20%);
  margin-right: 20%;
  border-radius: 20px;
  padding-bottom: 25px;
  margin-bottom: 200px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.32);
}

img {
  width: 100px;
  height: auto;
  vertical-align: middle;
  border-top-left-radius: 20px;

}

p {
  font-size: 15px;
  text-align: justify;
  margin-left: 30px;
  padding-right: 10px;
}

h2 {
  padding: 0px;
  text-align: justify;
  font-size: 20px;
  color: var(--main-title-contrast-color);
}

h3 {
  margin-left: 15px;
  margin-top: 10px;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 750px) and (min-width: 551px) {
  .informations {
    margin-right: 5%;
  }

  p {
    font-size: 18.9px;
  }

  #title {
    font-size: 24px;
    padding-bottom: 0;
    text-align: center;
  }
}


@media screen and (max-width: 550px) {
  .informations {
    margin-top: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    max-width: 100%;
  }
  p {
    font-size: 12px;
  }
  h3 {
    font-size: 16px;
  }
  h2 {
    font-size: 17px;
    line-height: 17px;
  }
}
