#presentation p {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.large_component a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit;
}

.button {
  margin-bottom: 20px;
}

#freelances_container {
  display: flex;
  flex-wrap: wrap;

  width: 95%;

  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 200px;

  gap: 30px;
}
