<div class="informations">
    <p id="title">
        Le serveur dispose d'un bot créer pour ajouter de nouvelles fonctionnalitées lié au développement !
    </p>

    <p>
        Vous pouvez utiliser toutes les commandes si dessous:
        <br>
        <br>
        <strong>//help</strong> -> donne la liste des commandes disponibles.<br>
        <strong>//ping</strong> -> donne la latence du bot en milli-secondes.<br>
        <strong>//meetup</strong> -> permet de mettre en place des conférence/regroupement vocal autour d'un sujet.<br>
        <strong>//start</strong> -> donne les prérequis nécessaires pour débuter dans les langages disponibles.<br>
        <strong>//rank</strong> -> affiche votre rang, et votre xp sur le serveur.<br>
        <strong>//leaderboard</strong> -> affiche la liste des 5 premiers membres du serveur.<br>
        <strong>//devhelp</strong> -> mentionne les membres possédant le rôle <i>Dev'Helper</i> dans un channel d'entraide.<br>
        <strong>//ask</strong> -> affiche les informations nécessaires pour poser une question efficacement.<br>
        <strong>//mission</strong> -> permet de gérer vos propositions de missions.<br>
        <br>
        <strong>creationMission</strong> -> cette commande se lance dans le channel <i>missions-payantes</i> pour créer une mission.
        <br><br>
        Toutes les commandes commencant par "//" doivent être utilisées dans les salons du serveur !
    </p>
</div>
