<div id="container">
  <div id="informations">
    <h1>
      Le Staff
    </h1>
    <p>
      Le serveur <strong>Dev'Area</strong> a été mis en place, depuis 2020. Aujourd'hui l'équipe du staff, composée de 7
      membres, veille toujours à ce que la communauté puisse évoluer, et ajoute régulièrement de nouvelles fonctionnalitées.
    </p>
  </div>
  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <div class="parent">
          <app-staff-card *ngFor="let person of staff"
                          [staff_name]="person.name"
                          [staff_bio]="person.bio"
                          [staff_urlAvatar]="person.urlAvatar"
                          [staff_id]="person.idCss">
          </app-staff-card>
        </div>
      </div>
      <div class="slide">
        <div class="parent" id="at-remove">
          <app-staff-card *ngFor="let person of staff"
                          [staff_name]="person.name"
                          [staff_bio]="person.bio"
                          [staff_urlAvatar]="person.urlAvatar"
                          [staff_id]="person.idCss">
          </app-staff-card>
        </div>
      </div>
    </div>
  </div>
</div>
