
    <div class="repere">

    <app-languages-sticks *ngFor="let language of languages"
                            [name]="language.name"
                            [Members]="language.countMember"
                            [color]="language.color"
                            [numberOfLanguages]="number"
                            [bigger]="bigString"
    ></app-languages-sticks>

</div>

<div class="xp-top">
    <app-xp-top-rank *ngFor="let person of XpBoard; let i= index"
                    [rank]=person.rank
                    [pseudo]="person.name"
                    [xp]=person.xp
                    [index]=i+1></app-xp-top-rank>
</div>
