.repere{
  background-color: grey;
  width: min-content;
  height:550px;
  display: flex;
  align-items: flex-end;
  border-radius: 5px;
}


.xp-top{
  float:right;
  background-color: grey;
}
body{
  display: flex;
  align-items: center;
}
