<header>


    <a class="left_border" routerLink="reseaux" routerLinkActive="active left_border:hover">
        <p>Réseaux</p>
    </a>

    <a routerLink="stats" routerLinkActive="active">
        <p>Stats</p>
    </a>

    <a routerLink="menu" routerLinkActive="active">
        <p>Menu</p>
    </a>

    <a routerLink="missions" routerLinkActive="active">
        <p>Missions</p>
    </a>

    <a class="right_border" routerLink="staff" routerLinkActive="active">
        <p>Staff</p>
    </a>


</header>
