#container {
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding: 10px;
  float: left;
  &:hover {
    border-radius: 10px;
  }
  & svg {
    fill: var(--main-title-contrast-color);
  }
}

.light_theme {
  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
  }
}

.dark_theme {
  &:hover {
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.07);
  }
}