<div class="container">
    <h1 class="title">
        Téléchargement des clients
    </h1>
    <table>
        <thead>
        <tr>
            <th>Language</th>
            <th>Sources du client</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Java</td>
            <td>
                <a class="link" href="https://devarea.fr/assets/challenges/clients/java/client_java.zip">zip</a>.
            </td>
        </tr>
        <tr>
            <td>Python</td>
            <td>
                <a class="link" href="https://devarea.fr/assets/challenges/clients/python/client_python.zip">zip</a>.
            </td>
        </tr>
        </tbody>
    </table>
</div>
