#container {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}

#title_page {
  color: var(--main-title-contrast-color);
  font-size: 55px;
  text-align: center;
}

#xp_card {
  display: block;
}

#first_line {
  display: flex;
  flex-flow: row wrap;
  margin-top: 30px;

  gap: 30px;
}

#first_colum {
  display: flex;
  flex-direction: column;

  gap: 30px;
  margin-left: 90px;
}

#second_colum {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.title {
  font-size: 35px;
  color: var(--main-title-contrast-color);
  margin-bottom: 35px;
}

#selector {
  display: flex;
  align-items: center;
}

#selector p {
  font-size: 25px;
  margin-left: 8px;
  margin-right: 8px;

  cursor: pointer;
}


.separator {
  width: 3px;
  height: 14px;

  border-radius: 20px;

  background-color: var(--main-color);
}

hr {
  color: var(--main-color);

  width: 95%;
}

@media screen and (max-width: 650px) {
  #first_line {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  #first_colum {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }

  #second_colum {
    margin-left: 0;
  }

  #title_missions {
    text-align: center;
    margin-top: 20px;
  }
}
