#container {
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}

#title_page {
  color: white;
  font-size: 55px;
  text-align: center;
}

#xp_card {
  display: block;
}

#first_line {
  display: flex;
  margin-top: 30px;
}

#first_colum {
  display: flex;
  flex-direction: column;
  margin-left: 90px;
}

#second_colum {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  width: 100%;
}

#title_missions {
  font-size: 35px;
  color: white;
  margin-bottom: 35px;
}


#no_mission {
  margin-left: 40px;
  text-align: center;
  color: white;
  font-size: 15px;
}

#button_create {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  width: 170px;
  height: 60px;
  line-height: 60px;

  text-align: center;
  font-size: 15px;

  border-radius: 5px;

  user-select: none;
  background-color: #53c6fa;
}

#button_create:hover {
  cursor: pointer;
  background-color: #2086d7;
}

#button_create:active {
  cursor: pointer;
  color: white;
  background-color: #2086d7;
}

#badges_card {
  margin-top: 30px;
}

#missions_container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 850px;
}


@media screen and(max-width: 550px) {
  #first_line {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  #first_colum {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }


}
