<div id="container">
  <h1 id="title_page">Espace Personnel</h1>
  <div id="first_line" *ngIf="memberInfos">
    <div id="first_colum">
      <div id="xp_card">
        <app-personnal-xp
          [avatar]="this.memberInfos.urlAvatar"
          [name]="this.memberInfos.tag"
          [next_level_xp]="this.memberInfos.next_xp_level"
          [previous_level_xp]="this.memberInfos.previous_xp_level"
          [xp]="this.memberInfos.xp"
          [previous_level]="this.memberInfos.level"
          [next_level]="this.memberInfos.level+1">
        </app-personnal-xp>
      </div>
      <div id=badges_card>
        <app-badges-card>
        </app-badges-card>
      </div>
    </div>
    <div id="second_colum">
      <h2 id="title_missions">Vos Missions:</h2>
      <div id="missions_container">
        <app-mission-card
          id="mission"
          *ngFor="let mission of this.memberInfos.missions_list; let i= index"
          [title]="mission.title"
          [description]="mission.description"
          [prix]="mission.prix"
          [date_retour]="mission.date_retour"
          [langage]="mission.langage"
          [support]="mission.support"
          [niveau]="mission.niveau"
          [member_name]="mission.member_name"
          [avatar]="mission.avatar"
          [member_tag]="mission.member_tag"
          [message_id]="mission.message_id"
          [own]="own_missions"></app-mission-card>
      </div>
      <h2 *ngIf="memberInfos.missions_list.length == 0" id="no_mission">Vous ne possédez pas de
        mission...</h2>
      <h2 class="button" (click)="newMission()">{{text_button_create}}</h2>
    </div>
  </div>
</div>
