<div id="container">
    <h2>Plus sur moi...</h2>
    <div class="static">
        <p *ngIf="!description && !this.editing">Vous ne possédez pas de présentation !</p>
        <div id="containerInjector"></div>
        <div *ngIf="!this.editing" id="edit" class="button" (click)="edit()">Modifier</div>
    </div>
    <div class="editing" *ngIf="this.editing">
        <textarea maxlength="300" [formControl]="controller"></textarea>
        <p>300 charactères maximum.</p>
        <div class="line">
            <div *ngIf="!this.sending" class="button" (click)="cancel()">Annuler</div>
            <div *ngIf="!this.sending" class="button" (click)="save()">Enregistrer</div>
        </div>
        <div *ngIf="this.sending" class="disabled_button" style="margin-left: auto" (click)="save()">
            <app-loader></app-loader>
        </div>
    </div>
    <p *ngIf="this.error">Une erreur est survenue !</p>
</div>