.title {
  font-size: 50px;
  color: var(--main-title-contrast-color);
  text-align: center;
}

#languages_part {
  margin: 0 auto auto;
}

#graphContainer {
  background-color: var(--background-component-color);
  width: min-content;
  height: 550px;
  display: flex;
  align-items: flex-end;
  border-radius: 5px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19);
}

#xp_part {
  margin-top: 350px;
  margin-bottom: 100px;
}

#xp_container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-content: center;

  width: 80%;

  margin-left: auto;
  margin-right: auto;

  border-radius: 5px;
  background-color: var(--background-component-color);

  padding-bottom: 10px;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19);
}

#xp {
  background-color: var(--background-component-color);
  filter: brightness(95%);
  margin: 2px;
  border-radius: 15px;
}

#table_header {
  display: flex;
  justify-content: end;
  height: 50px;
  border-bottom: solid 2px;
  user-select: none;
}

#table_header h2 {
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}

#table_header_left {
  display: flex;
  margin-right: auto;
  width: 100%;
}

#table_header_right {
  display: flex;
}

#table_header_rank {
  border-right: solid 2px;
  width: 72px;
}

#table_header_pseudo {
  font-size: 30px;
  width: 100%;
}

#table_header_xp {
  border-left: solid 2px;
  width: 220px;
}

#table_header_level {
  border-left: solid 2px;
  width: 220px;
}

.button {
  margin-top: 20px;
  font-size: 30px;
  padding: 5px 20px;
}

body {
  display: flex;
  align-items: center;
}

@media screen and(max-width: 700px) {
  #xp_container {
    margin-left: auto;
    margin-right: auto;
    width: 92%;
  }

  #table_header {
    height: 35px;
  }

  #table_header h2 {
    font-size: 13px;
    line-height: 35px;
  }

  #table_header_rank {
    width: 40px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #table_header_xp {
    width: 120px;
  }
}

@media screen and(max-width: 1040px) {
  #graphContainer {
    margin-top: 60px;
    height: 580px;
  }

}
