#container {
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: column;
  white-space: break-spaces;
  background-color: grey;
  margin-bottom: 30px;
  border-radius: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#title {
  text-align: center;
  color: black;
  font-size: 25px;
  margin-left: 15px;
  margin-right: 15px;
}

#description {
  margin-top: 25px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
  margin-bottom: 15px;
}

.title_param {
  font-size: 15px;
  color: #292B2F;
}

.param {
  text-align: center;
  font-size: 15px;
}

#member {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
  margin-right: 40px;
  margin-top: 20px;
  user-select: none;
}

#block {
  display: flex;
  cursor: pointer;
}

#name {
  line-height: 70px;
  text-align: center;
  user-select: none;
}

#icon {
  margin-right: 10px;
  width: 70px;
  height: 70px;
  border-radius: 200px;
  user-select: none;
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  margin-bottom: -40px;
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -55px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


#send_container {
  position: absolute;
  bottom: 0;
  left: 0;
}

#info_send {
  margin-bottom: 55px;
  margin-left: -73px;
}

#icon_send {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 8px;
  margin-left: 8px;
}

#delete_container {
  position: absolute;
  bottom: 0;
  left: 0;
}

#icon_delete {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 8px;
  margin-left: 55px;
}

#info_delete {
  margin-bottom: 55px;
  margin-left: -30px;
}

#false {
  display: none;
}

#true {
  visibility: visible;
}

#delete_button {
  margin-left: auto;
  margin-right: auto;

  width: 60px;
  height: 30px;
  line-height: 30px;

  text-align: center;
  font-size: 15px;

  border-radius: 5px;

  user-select: none;
  background-color: #53c6fa;
}

#delete_button:hover {
  cursor: pointer;
  background-color: #2086d7;
}

#delete_button:active{
  cursor: pointer;
  color: white;
  background-color: #2086d7;
}

