footer p {
    background: var(--background-component-color);
    padding: 15px 0px;
    text-align: center;
    font-size: 0.8em;
    position: inherit;
    bottom: 0;
    left: 0;
    right: 0;
}

@media screen and (max-width: 550px) {
    footer p {
        background: var(--background-component-color);
        padding: 15px 0px;
        text-align: center;
        font-size: 0.8em;
        bottom: 0;
        left: 0;
        right: 0;
        position: relative;
        top: 2vh;
    }
}