footer p {
    background: var(--background-component-color);
    padding: 15px 0px;
    text-align: center;
    font-size: 0.8em;
}

@media (max-width:720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }
    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }
    .footer .row a i {
        margin: 0% 3%;
    }
}