#container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-component-color);
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19);
}

#badge {
  margin-top: 20px;
}
