.title {
  font-size: 35px;
  color: var(--main-title-contrast-color);
  margin-bottom: 35px;
}

#missions_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.no_mission {
  text-align: center;
  margin-top: 30px;
}

.button {
  margin-top: 30px;
}

@media screen and (max-width: 650px) {
  #title_missions {
    text-align: center;
    margin-top: 20px;
  }
}
