<div class="informations">
    <h1>Bienvenue sur DevArea</h1>
    <p>
        Dev'Area est un serveur discord créé par de nombreux passionés. Le but ?
        <br>
        *Créer une communauté autour du développement francophone, rare de qualité
        <br>
        *Venir en aide à chacun, quel que soit votre niveau et vos languages favoris.
        Que vous proposiez votre aide ou que vous en ayez besoin, ce serveur est fait pour vous
        <br>
        *Vous permettre de proposer vos services grâce à nos outils de gestion des freelances
        <br>
        *Vous permettre, si vous cherchez un développeur, de trouver votre bonheur parmi le large éventail du discord
        <br>
        Plus d'infos sur le serveur, c'est <a routerLink="/stats" routerLinkActive="active">ici</a>
    </p>
    <a href="https://discord.devarea.fr/">
        <div class="button">Rejoindre</div>
    </a>
</div>
