<section class="section">
    <div class="first_section">
        <h1>Dev'Area répond à vos besoins !</h1>
        <div id="types">
            <div class="pan">
                <h3>Développeurs</h3>
                <p>Vous cherchez de l'aide pour un de vos projet ? D'autres développeurs avec qui échanger pour
                    apprendre de nouvelles technologies ?</p>
                <a class="more" href="https://discord.devarea.fr/"><p class="more_text">En savoir plus</p>
                    <p class="arrow">➜</p></a>
            </div>
            <div class="pan">
                <h3>Clients</h3>
                <p>Vous avez un projet en tête et vous avez besoin d'un ou plusieurs développeur pour le résaliser ?</p>
                <div class="more" routerLink="/missions"><p class="more_text">En savoir plus</p>
                    <p class="arrow">➜</p></div>
            </div>
            <div class="pan">
                <h3>Freelances</h3>
                <p>Vous êtes un développeur professionnel ou intermédiare et vous voulez mettre en avant vos services
                    contre rémunération ?</p>
                <div class="more" routerLink="/freelances"><p class="more_text">En savoir plus</p>
                    <p class="arrow">➜</p></div>
            </div>
        </div>
    </div>
</section>


<!--<div class="informations">
   <h1>Bienvenue sur DevArea</h1>
  <p>
       Nous sommes une communauté de développeurs de tout âge et de toute expérience. Le serveur possède 3
       parties/fonctions bien distinctes :<br/>
       - L'entraide entre les membres.<br/>
       - Les missions pour les clients.<br/>
       - Les freelances pour les développeurs.<br/><br/>

       -> Tout d'abord <strong>l'entraide entre les membres</strong> : le serveur regroupe une grande communauté de
       développeurs
       passionnés. Ce sont des développeurs qui n'ont pas spécialement fait du développement leur métier. Le serveur
       leur permet de s'abreuver dans une fontaine de connaissances et de faire des rencontres avec d'autres
       développeurs, que ce soit pour un problème directement lié au code, ou tout simplement pour échanger avec de
       nouvelles personnes de milieux différents.<br/><br/>

       -> Ensuite les missions des <strong>clients</strong> : en effet le serveur a aussi un aspect très professionnel. Il propose la
       possibilité aux clients, cherchant un produit logiciel, une assistance informatique, ou encore un site web, de
       proposer leur projet à la communauté de développeurs qui pourra après devis, ou mise en place d'un tarif, être
       réalisé selon les critères du client.<br/><br/>

       -> Pour finir, les freelances, la communauté du serveur a beaucoup évolué avec le temps et comporte de plus en
       plus
       de professionnels. C'est pour quoi le serveur propose désormais la possibilité aux développeurs de mettre en
       avant leurs compétences et leur profil. De ses profils, les clients pourront alors choisir le développeur de
       leur choix.<br/><br/>

       -> Les fonctionnalités du serveur sont mises en place et suivies par notre bot créé spécialement pour celui-ci.
       Il
       est accompagné par le site https://devarea.fr/ qui lui est directement connecté. Ce qui permet donc une
       facilitation de la gestion des missions et des freelances avec un visuel optimisé pour pouvoir utiliser les
       fonctionnalité plus facilement. Toutes ces informations sont directement envoyées sur Discord pour une réponse
       et un suivi optimal !<br/><br/>
   </p>
   <a href="https://discord.devarea.fr/">
       <div class="button">Rejoindre</div>
   </a>
</div>
-->
