.informations {
  background-color: var(--background-component-color);
  display: block;
  height: auto;
  max-width: 80%;
  width: auto;
  margin-left: max(250px, 20%);
  margin-right: 20%;
  border-radius: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: inherit;
  color: inherit;
}

h1 {
  text-align: center;
  padding: 15px;

  z-index: 2;
  background-image: url("/assets/images/fond1.jpg");
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
}

p {
  padding: 2% 2%;
  font-size: 15px;
  text-align: justify;
  z-index: 2;
}

@media screen and (max-width: 750px) and (min-width: 551px) {
  .informations {
    margin-right: 5%;
  }
  p {
    font-size: 18.9px;
  }
}


@media screen and (max-width: 550px) {
  .informations {
    margin-top: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    max-width: 100%;
  }
}
