#container {
  width: available;

  display: flex;
  justify-content: center;
  align-items: start;

  padding: 30px;

  margin-bottom: 120px;

  gap: 30px;
}

#mission_content {
  background-color: var(--background-component-color);
  max-width: 1000px;

  padding: 20px;

  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 80px;
}

#description {
  margin: 20px;
}

#infos {
  background-color: var(--background-component-color);
  width: 280px;
  min-width: 280px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;

  border-radius: 10px;
}

#infos p {
  text-align: center;
}

#infos hr {
  width: 100%;
  height: 2px;
  background-color: #858585;
  border: none;

  margin-bottom: 20px;
  margin-top: 10px;

  border-radius: 20px;
}

#infos .little {
  width: 30px;
}

#memberInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;

  gap: 8px;
}

#memberInfo img {
  width: 90px;
  height: 90px;
  border-radius: 100px;

}

#memberInfo p {
  font-size: 22px;
}

#description {
  white-space: pre-wrap;
  word-break: break-word;
}

.button {
  margin-top: 25px;
  margin-bottom: 15px;
}

#date {
  text-align: end;
}

#disabled {
  font-size: 15px;

  color: white;

  padding: 10px 30px;

  border-radius: 5px;

  cursor: default;

  user-select: none;
  background-color: grey;
}

#panelContainer {
  background-color: var(--background-component-color);

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 350px;

  margin-left: auto;
  margin-right: auto;

  border-radius: 8px;
}

@media screen and(max-width: 825px) {
  #container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  #infos {
    padding: 0;
    width: 100%;
  }
}