.informations {
  background-color: #606060;
  display: block;
  height: auto;
  max-width: 80%;
  width: auto;
  margin-left: max(250px, 20%);
  margin-right: 20%;
  border-radius: 20px;
}

a {
  color: black;
}

p {
  padding: 3% 2%;
  font-size: 23.9px;
  text-align: justify;
}

@media screen and (max-width: 750px) and (min-width: 551px) {
  .informations {
    margin-right: 5%;
  }
  p {
    font-size: 18.9px;
  }
}


@media screen and (max-width: 550px) {
  .informations {
    margin-top: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    max-width: 100%;
  }
  p {
    font-size: 18.9px;
  }
}
