<div class="informations">
    <p>
        Nous sommes une communauté de passionnés qui à crée ce discord pour venir en aide à tous le monde, que vous
        soyez
        débutant, intermédiaire ou professionnel, vous aurez surement besoin d'aide ! Vous aimez faire des bots, des
        logiciels, ou bien des jeux ? Ce discord est la pour ça. Vous aimez plutot le python, le php ou bien le Go comme
        Gaëtan ? Ce discord est toujours la pour ça. Pleins de salon dans pleins de langages vous sont mis à
        disposition,
        plus d'informations sont disponible sur la page <a href="Stats.html">Stats</a>.
    </p>
</div>
