.deg0 {
  transform: rotate(0deg) translate(250px) rotate(-0deg);

}

.deg45 {
  transform: rotate(45deg) translate(250px) rotate(-45deg);

}

.deg90 {
  transform: rotate(90deg) translate(250px) rotate(-90deg);

}

.deg135 {
  transform: rotate(135deg) translate(250px) rotate(-135deg);

}

.deg180 {
  transform: rotate(180deg) translate(250px) rotate(-180deg);

}

.deg225 {
  transform: rotate(225deg) translate(250px) rotate(-225deg);

}


.deg270 {
  transform: rotate(270deg) translate(250px) rotate(-270deg);

}

.deg315 {
  transform: rotate(315deg) translate(250px) rotate(-315deg);

}

img {

  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.test2 {
  //animation: spin-inverse 10s linear infinite;
}

.circle {
  z-index: 0;
  text-align: center;
  vertical-align: center;
  //transform: translate(-75px,0px);
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    transform-origin: 75px 75px;

  }
  100% {
    transform: rotate(360deg);
    transform-origin: 75px 75px;
  }
}

@keyframes spin-inverse {
  0% {
    transform: rotate(0deg);
    //transform-origin: 75px 75px;

  }
  100% {
    transform: rotate(-360deg);
    //transform-origin: 75px 75px;
  }
}

#test {
  padding-top: 200px;
  padding-left: 200px;
  display: flex;
  align-items: center;
}

h2 {
  color: var(--main-title-contrast-color);
  text-align: center;
  padding-top: 200px;
  font-size: 55px;
}
