#presentation {
  display: flex;
  flex-direction: column;
  background-color: var(--background-component-color);
  border-radius: 20px;
  margin-bottom: 60px;
  width: min(1335px, 90%);
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

#presentation p {
  text-align: center;
  font-size: 20px;
  margin: 10px 20px 20px;
}

#presentation a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit;
}

#title {
  text-align: center;
  padding: 15px;

  z-index: 0;
  //background-image: url("/assets/images/fond1.jpg");

  color: var(--main-title-contrast-color);

  margin-bottom: 20px;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.button {
  margin-bottom: 20px;
}

#missions_container {
}

#missions {
  width: min(1580px, 95%);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 30px;

  margin-left: auto;
  margin-right: auto;

}

#bottom {
  height: 120px;
}

.loading{
  margin-top: 40px;
}

@media screen and (max-width: 1340px) {
  #title {
    font-size: 20px;
  }

  #presentation p {
    font-size: 13px;
  }
  #missions_container {
    margin-left: 0;
    margin-right: 0;
  }

  #tile {
    font-size: 15px;
  }

  #presentation {
    margin-left: auto;
    margin-right: auto;
  }

}
