#presentation {
  display: flex;
  flex-direction: column;
  background-color: var(--background-component-color);
  border-radius: 20px;
  margin-bottom: 60px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}

#presentation p {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 20px;
}

#presentation a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit;
}

#title {
  text-align: center;
  padding: 15px;

  z-index: 0;
  //background-image: url("/assets/images/fond1.jpg");

  color: var(--main-title-contrast-color);

  margin-bottom: 20px;

  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-repeat: no-repeat;
  background-size: 100%;
}


#missions_container {
  margin-left: 25em;
  margin-right: 25em;
}


@media screen and (max-width: 1340px) {
  #title {
    font-size: 20px;
  }

  #presentation p {
    font-size: 13px;
  }
  #missions_container {
    margin-left: 0;
    margin-right: 0;
  }

  #missions_container {
    font-size: 13px;
  }

  #tile {
    font-size: 15px;
  }

  #presentation {
    margin-left: auto;
    margin-right: auto;
  }

  #missions {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
  }
}
