.large_component a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit;
}


#missions {
    width: min(1580px, 95%);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 40px;
    row-gap: 30px;

    margin-left: auto;
    margin-right: auto;

}

#bottom {
    height: 120px;
}

.loading {
    margin-top: 40px;
}
